* {
    font-family: 'Poppins', sans-serif;
}

input,
select,
textarea,
button {
    font-family: inherit;
}

.results-list {
    padding: 0;
}

.results-list>li {
    list-style-type: none;
}

.result-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 16px;
    transition: 300ms;
}

.result-item:hover {
    background-color: gainsboro;
}

.result-item .title {
    margin-top: 0;
}

.topnav {
    /* min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: url("../img/bg.jpg");
    background-size: cover;
    background-position: center center;
    padding: 15px; */
}

.topnav form {
    width: 100%;
}

.topnav form .inner-form {
    background: rgba(0, 0, 0, 0.5);
    padding: 16px;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: stretch;
}


.topnav form .inner-form .input-field {
    margin-right: 30px;
}

.topnav form .inner-form .input-field input {
    background: #fff;
    border-radius: .5px;
    border: 0;
    display: block;
    width: 100%;
    padding: 16px;
    font-size: 1em;
}

.topnav form .inner-form .input-field input.placeholder {
    color: #9a9a9a;
    font-size: 1em;
}

.topnav .li input.placeholder {
    color: #9a9a9a;
    font-size: 1em;
}

.topnav form .inner-form .input-field input:-moz-placeholder {
    color: #9a9a9a;
    font-size: 1em;
}

.topnav form .inner-form .input-field input::-webkit-input-placeholder {
    color: #9a9a9a;
    font-size: 1em;
}

.topnav form .inner-form .input-field input:hover,
.topnav form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
}

.topnav form .inner-form .input-field.first-wrap {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.topnav form .inner-form .input-field.second-wrap {
    width: 32.77%;
    min-width: 180px;
}

.topnav form .inner-form .input-field.third-wrap {
    width: 180px;
    margin-right: 0;
}

.topnav form .inner-form .input-field.third-wrap .btn-search {
    height: 100%;
    width: 100%;
    background: #4272d7;
    white-space: nowrap;
    border-radius: .5px;
    font-size: 1em;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
}

.topnav form .inner-form .input-field.third-wrap .btn-search:hover {
    background: #2d62d3;
}

@media screen and (max-width: 992px) {
    .topnav form legend {
        font-size: 50px;
        text-align: center;
        margin-bottom: 50px;
    }

    .topnav form .inner-form {
        padding: 30px 35px;
    }

    .topnav form .inner-form .input-field {
        height: 50px;
    }
}

@media screen and (max-width: 767px) {
    .topnav form legend {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .topnav form .inner-form {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 1em;
    }

    .topnav form .inner-form .input-field {
        margin-right: 0;
    }

    .topnav form .inner-form .input-field input {
        padding: 5px 15px;
        font-size: 16px;
    }

    .topnav form .inner-form .input-field.first-wrap {
        width: 100%;
        margin-bottom: 1em;
    }

    .topnav form .inner-form .input-field.second-wrap {
        width: calc(50% - 10px);
        min-width: auto;
    }

    .topnav form .inner-form .input-field.third-wrap {
        width: calc(50% - 10px);
    }

    .topnav form .inner-form .input-field.third-wrap .btn-search {
        font-size: 16px;
    }
}