{% extends "layouts/base.html" %}

{% block title %}Discover more{% endblock title %}

{% block content%}

<div class="s01">
  <form action="/search" method="GET">
    <fieldset>
      <legend>Discover more</legend>
    </fieldset>
    <div class="inner-form">
      <div class="input-field first-wrap">
        <input id="query" name="query" type="text" placeholder="What are you looking for?" />
      </div>
      <div class="input-field second-wrap">
        <input id="window_size" name="window_size" type="number" min="1" placeholder="How much far? ∞?" />
      </div>
      <div class="input-field select-wrap">
        <select name="class" id="class">
          <option value="1">Most Viewed</option>
          <option value="-1">Others</option>
          <option value="0">All</option>
        </select>
      </div>
      <div class="input-field third-wrap">
        <button class="btn-search" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

{% endblock content %}