{% extends "layouts/base.html" %}
{% load cache %}


{% block title %}Discover more{% endblock title %}

{% cache 500 sidebar %}
{% block content%}

<div>
    <div class="topnav">
        <form action="/search" method="GET">
            <div class="inner-form">
                <div class="input-field first-wrap">
                    <input id="query" name="query" type="text" placeholder="What are you looking for?"
                        value={{query}} />
                </div>
                <div class="input-field second-wrap">
                    <input id="window_size" name="window_size" type="number" min="1" placeholder="How much far? ∞?"
                        value={{window_size}} />
                </div>
                <div class="input-field select-wrap">
                    <select name="class" id="class">
                        <option value="1">Most Viewed</option>
                        <option value="-1">Others</option>
                        <option value="0">All</option>
                    </select>
                </div>
                <div class="input-field third-wrap">
                    <button class="btn-search" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <div dir="auto">
            <ul class="results-list">
                {% for result in results %}
                <li class="result-item">
                    <h3 class="title">
                        {{result.0}}
                    </h3>
                    {{result.1}}
                </li><br>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

{% endblock content %}
{% endcache %}