{% load static %}


<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="colorlib.com">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/search.css' %}" rel="stylesheet" />
  <title>{% block title %}{% endblock title %}</title>
</head>

<body>
  {% block content %}{% endblock content %}
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>